In [1]:
import pandas as pd
import json
# from nostr_sdk import Keys, Client, EventBuilder, Filter, PublicKey
from datetime import timedelta
import time
from sqlalchemy import create_engine

In [ ]:
keys = Keys.generate()
print(keys.public_key().to_bech32())
client = Client(keys)
client.add_relay("wss://relay.damus.io")
client.connect()
# PublicKey.from_hex('031ea306188fee631a86f1a0e49cee8f3d62592b2e7be5f8eb1788e327db340a').to_bech32()

In [ ]:
npub = "npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc"
pk = PublicKey.from_bech32(npub)
pk.to_hex()

In [ ]:
type(keys), type(keys.public_key()), type(keys.public_key().to_bech32())

In [21]:
df = pd.read_pickle('events_100.pkl')

In [22]:
# df['tags'] = df['tags'].apply(json.dumps)
df['tags'] = df['tags'].apply(lambda x: {item[0]: item[1] for item in x})

In [23]:
df['tags']

0              {'t': 'sm41623576', 'client': 'coracle'}
1                                                    {}
2                                                    {}
3                                                    {}
4                                                    {}
                            ...
95                                         {'t': '911'}
96                                                   {}
97    {'e': 'f4aa3e803d1069a54bea8d9f36f44be72d9340c...
98    {'e': '0f9390a6cc2fcac800fa253964ca151576ae455...
99                                                   {}
Name: tags, Length: 100, dtype: object

In [25]:
from sqlalchemy import create_engine, types
from sqlalchemy import dialects

engine = create_engine(
    "postgresql://postgres@localhost:5432/postgres"
)
df.to_sql('events', engine, if_exists="replace", dtype={'tags': dialects.postgresql.JSONB})

100

In [26]:
df.head()

,content,created_at,id,kind,pubkey,sig,tags
0,まだやってるのか・・・＞【声出し復活！】チルノのパーフェクトさんすう教室踊ってみたオフ202...,1694435660,aa140b39d834edf433980e6fe7d0f6a011e4ee0ba435f8...,1,1f617e368ce633acef348a2f755dd0a459e56e39476669...,51c2b9fb88895aab8cecf762cafaf8b921ec92bbf2eb6d...,"{'t': 'sm41623576', 'client': 'coracle'}"
1,What is the last thing to go through a fly's m...,1694435658,6fd2ab59dfd3a0979581ec04969069221ae0491cc22570...,1,d690ba058d9c4f6f4fc91438289817df19da4e04494dc4...,38a2bb0645731613941d388c304c31ae96f6939abf190b...,{}
2,https://image.nostr.build/f432803781d6004bed1a...,1694435656,232ee4cfbdd378cc20c6ab0e7bb7e4912c8344d0d8bba8...,1,78e47dfe683faf1869a5378aa4b4a52d768d799bd8eb38...,a07421297ab12e1e51f21fec894b7b16becf857a9f8b6f...,{}
3,Most great people have attained their greatest...,1694435652,c0889790ead173575e57fdf7adbb053093d1f7b4d72c38...,1,1987f7a6dab8428d8fd14721fbaf1ff28a2c61817f86dc...,4d897f9cb7541714be1b912707c789b946a673de402ae9...,{}
4,wow makna sat ternyata dalam juga ya. cocok ba...,1694435650,d277c1c96983b576eda19718b8855d26e20d223d9ff6e4...,1,c3495ddc53079b931f8727e7f7428c93f1612266210c0a...,af3e10de065b4e324d0cd9c266b89f88a260648d98ed79...,{}

In [5]:
# Format: "postgresql://username:password@localhost:port/database"
engine = create_engine(
    "postgresql://postgres@localhost:5432/postgres"
)

# df[df.columns[:-1]].to_sql("events", engine, if_exists='replace', index=False)

In [30]:
# sql_query = "SELECT * FROM events"
sql_query = "SELECT * FROM events WHERE tags ? 't'"
sql_query = "SELECT * FROM events WHERE tags->>'t' = 'sm41623576'";

df_results = pd.read_sql(sql_query, engine)

In [9]:
pd.read_sql("SELECT", engine)

Empty DataFrame
Columns: []
Index: []

In [ ]:
df_

In [18]:
df_results

Empty DataFrame
Columns: [index, content, created_at, id, kind, pubkey, sig, tags]
Index: []

In [31]:
df_results

,index,content,created_at,id,kind,pubkey,sig,tags
0,0,まだやってるのか・・・＞【声出し復活！】チルノのパーフェクトさんすう教室踊ってみたオフ202...,1694435660,aa140b39d834edf433980e6fe7d0f6a011e4ee0ba435f8...,1,1f617e368ce633acef348a2f755dd0a459e56e39476669...,51c2b9fb88895aab8cecf762cafaf8b921ec92bbf2eb6d...,"{'t': 'sm41623576', 'client': 'coracle'}"

In [ ]:
# dfd = query_events("npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc")
def query_events(pubkey):
    pk = PublicKey.from_bech32(pubkey)
    filter = Filter().kind(1).author(pk.to_hex()).limit(10)
    events = client.get_events_of([filter], timedelta(seconds=10))
    return pd.DataFrame([json.loads(event.as_json()) for event in events])

In [ ]:
filter = Filter().kind(1).limit(100)
events = client.get_events_of([filter], timedelta(seconds=10))
df = pd.DataFrame([json.loads(event.as_json()) for event in events])

In [ ]:
def query_zaps():
    filter = Filter().kind(9735).limit(10)
    events = client.get_events_of([filter], timedelta(seconds=10))
    return pd.DataFrame([json.loads(event.as_json()) for event in events])

In [ ]:
# df.to_pickle('events_100.pkl')

In [ ]:
pk.to_hex(), pk.to_nostr_uri()

In [ ]:
# pk = PublicKey.from_bech32("npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc")
pk = PublicKey.from_bech32("npub10pensatlcfwktnvjjw2dtem38n6rvw8g6fv73h84cuacxn4c28eqyfn34f")

# print(f"\nGetting profile metadata for {pk.to_bech32()}...")
# filter = Filter().kind(0).author(pk.to_hex()).limit(1)
# events = client.get_events_of([filter], timedelta(seconds=10))
# for event in events:
#     metadata = Metadata.from_json(event.content())
#     print(f"Name: {metadata.get_name()}")
#     print(f"NIP05: {metadata.get_nip05()}")
#     print(f"LUD16: {metadata.get_lud16()}")

filter = Filter().kind(1).author(pk.to_hex()).limit(10)
events = client.get_events_of([filter], timedelta(seconds=10))
for event in events:
    # print(json.dumps(event.as_json, indent=4))
    print(event.as_json())

In [ ]:
for event in events:
    print(json.dumps(event.as_json(), indent=4))
    # print(event.as_json())

In [ ]:
display(JSON(event.as_json()))

In [ ]:
df = pd.DataFrame(map(lambda x: json.loads(x.as_json()), events))

In [ ]:
type(df.iloc[0])

In [ ]:
df.iloc[0]

In [ ]:
df

In [ ]:
events[0].as_json()

In [ ]:
json.loads(event.as_json())